      html {
          height: 100%;
          background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
          overflow: hidden;
      }

    
      @keyframes animStar {
          from {
              transform: translateY(0px);
          }

          to {
              transform: translateY(-200px);
          }
      }